[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/user/last_update.txt]
row=4
col=0

[/home/user/install-debian.desktop]
row=6
col=0

[/home/user/bitlocker_todo.txt]
row=5
col=0

[fb095a67-a882-43fd-bc7d-69e271bec45d]
row=2
col=0

[Kuka]
row=0
col=0

[/]
row=1
col=0

[/home/user]
row=3
col=0

