[Desktop Entry]
Name=Element
Exec=/opt/Element/element-desktop %U --hidden
Terminal=false
Type=Application
Icon=element-desktop
StartupWMClass=Element
MimeType=x-scheme-handler/element;
Comment=A feature-rich client for Matrix.org
Categories=Network;InstantMessaging;Chat;
Path=
StartupNotify=false
